<div class="flex text-[14px] mb-5 items-center">
    <p>
            <%= blog.fmCreationDate %>
    </p>
    <span class="mx-4 w-[2px] h-6 bg-gray-500"></span>
    <a class="text-cyan-600 border-b-2 border-cyan-600 pb-0" href="/authors/<%= blog.author._id %>">
        <%= blog.author.name %>
    </a>
</div>