<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogger</title>
    <link rel="shortcut icon" href="/assets/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/output.css">
</head>

<body class="font-primary">
    <%- include("../partials/nav") %>
        <main class="bg-gray-100 min-h-screen py-8 px-12 md:px-6 sm:px-3">
            <%- include("../partials/alert") %>
                <div class="flex justify-center">
                    <%- body %>
                </div>
        </main>
        <script src="https://kit.fontawesome.com/da49f06da0.js" crossorigin="anonymous"></script>
        <script src="/js/nav.js"></script>
</body>

</html>