<% layout("./layouts/boilerplate") %>
    <h2 class="page-title">Featured:</h2>
    <ul class="w-full flex flex-col justify-center bg-green-600">
        <li class="w-10 h-10 bg-red-500"></li>
        <li class="w-10 h-10 bg-red-500"></li>
        <li class="w-10 h-10 bg-red-500"></li>
        <li class="w-10 h-10 bg-red-500"></li>
        <li class="w-10 h-10 bg-red-500"></li>
    </ul>