<%- layout("./layouts/boilerplate") %>

    <div class="container">
        <h1 class="section-title">Top authors</h1>
        <div class="grid grid-cols-2 md:grid-cols-none gap-x-12 md:flex md:flex-col md:items-center">
            <% for (let author of authors) { %>
                <%- include("../partials/author", { author }) %>
                    <% } %>
        </div>
    </div>